.pricing {
  padding-bottom: 100px;
}
.pricing__button-wrap {
  margin-bottom: 20px;
}
.pricing__information {
  text-align: left;
}
.pricing__img {
  width: 100%;
}

.pricing__type {
  width: 320px;
  border: 1px solid #151515;
  background: #f0f0f0;
  margin-top: 20px;
  padding: 50px 20px;
  position: relative;
}
.pricing__type--dark {
  background-color: #151515;
  color: #ffffff;
}
.pricing__list {
  margin-top: 30px;
  margin-bottom: 60px;
}
.pricing__link {
  position: relative;
  padding-left: 20px;
}
.pricing__link::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 6px;
  left: -10px;
}
.pricing__link--dark::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 6px;
  left: -10px;
}
.pricing__link:not(:last-of-type) {
  padding-bottom: 26px;
}

.pricing__button {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  text-align: center;
  bottom: 50px;
}
.pricing__button--white {
  background-color: #ffffff;
}

@media (min-width: 1024px) {
  .pricing__element {
    position: relative;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .pricing__information {
    width: 600px;
    text-align: right;
  }
  .pricing__img {
    position: absolute;
    top: 0;
    left: -10px;
    width: 380px;
  }
  .pricing__types {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .pricing__type {
    width: 300px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .pricing {
    padding-bottom: 200px;
  }
  .pricing__information {
    width: 745px;
  }
  .pricing__information > div {
    align-items: center;
    vertical-align: middle;
  }
  .pricing__element {
    margin-bottom: 180px;
    padding-top: 100px;
  }
  .pricing__img {
    width: 470px;
  }
  .pricing__type {
    width: 415px;
  }
}
@media (min-width: 2560px) {
  .pricing__type {
    width: 435px;
  }
}
